/* Reset Styles */
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, font, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td {margin: 0;padding: 0;border: 0;outline: 0;font-size: 100%;vertical-align: baseline;background: transparent;}
body {line-height: 1;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,q:before, q:after {content: '';content: none;}
:focus {outline: 0;}
ins {text-decoration: none;}
del {text-decoration: line-through;}
table {border-collapse: collapse;border-spacing: 0;}

/* Main Styles */

#wrapper {width:960px;margin:0 auto;}
#header {height:320px;position:relative;border-bottom:1px solid #cecece;}
#header #twitter, #header span {position:absolute;bottom:21px;right:14px;text-transform:uppercase;font-size:0.8em;}
#header span {bottom:4px;font-family:'Goudy Bookletter 1911';}
#header #me {width:250px;position:absolute;top:30px;-moz-transform: scale(1) rotate(-20deg) translate(0px, 0px) skew(0deg, 0deg);-webkit-transform: scale(1) rotate(-20deg) translate(0px, 0px) skew(0deg, 0deg);}
#header h1 {position:absolute;bottom:12px;left:180px;font-family:'Goudy Bookletter 1911';font-weight:normal;font-size:1.5em;text-transform:uppercase;}
#header ul {width:100%;overflow:hidden;padding:11px 0 0 11px;}
#header li {display:block;float:left;height:50px;width:50px;border-radius:5px;margin:1px;overflow:hidden;}
#header li img {width:100px;}
#twitter {background:#5590d8;color:#fff;font-weight:bold;font-family:arial;padding:6px;border-radius:10px;text-decoration:none;display:block;margin-top:5px;font-size:0.8em;border:1px solid #999;text-align:center;}

#content {min-height:500px;width:700px;float:left;}
#content article {border-bottom:1px dashed #cecece;padding:10px 0;}
#content h2, #content h3 {font-family:'Goudy Bookletter 1911';font-weight:normal;}
#content h2 {font-size:4em;}
#content h2 a {color:#000;text-decoration:none;}
#content h3 {font-size:1.3em;}
#content section {margin:10px 2px;padding:5px;font-family:arial;border:1px dashed #cecece;border-radius:5px;background:#eee;padding:10px;}
#content section p {padding:10px 0;font-size:0.9em;}
#content section h4 {font-size:0.9em;text-transform:uppercase;}
#content section strong {display:block;text-transform:uppercase;font-size:0.9em;font-weight:normal;text-decoration:underline;padding:5px 0;}
#content section strong.invalid {color:red;}
#content section strong.valid {color:green;} 
#content footer {font-size:0.8em;text-transform:uppercase;padding-bottom:15px;border-bottom:1px dashed #cecece;overflow:hidden;}

#content #comments {border:0;background:none;}
#comments .comment {background:#dedede;border-radius:20px;padding:10px;position:relative;margin:20px 0;}
#comments .comment h4 {padding:0 0 5px 0;font-weight:normal;text-transform:lowercase;}
#comments .comment h4 a {color:#666;text-decoration:none;font-style:italic;font-family:georgia;}
#comments .comment span {display:block;float:left;font-style:italic;text-transform:lowercase;font-family:georgia;font-size:0.9em;position:absolute;top:8px;right:10px;color:#bebebe;}
#comments .comment p {clear:left;padding:10px;background:#fff;border-radius:5px;text-transform:uppercase;font-size:0.7em;}
.comment .admin-link {padding:10px;position:absolute;right:0;top:-9px;}

#comments #new-comment {border:0;overflow:hidden;position:relative;width:505px;}
#new-comment div {margin:3px 0;float:left;width:190px;}
#new-comment label {width:150px;float:left;}
#new-comment input {width:170px;height:25px;border-radius:3px;border:1px solid #ccc;color:#ccc;padding-left:10px;display:block;margin:3px 0;}
#new-comment textarea {border:1px solid #ccc;border-radius:3px;color:#ccc;padding:8px 10px;margin:3px 0;width:290px;font-family:arial;font-size:0.7em;}
#new-comment .hascontent {color:#000;}
#new-comment #comment_submit {color:#000;clear:both;position:absolute;top:246px;width:183px;background:#999;cursor:pointer;}
#comments #new-comment .invalid {background:#cecece;color:#bebebe;}
#new-comment .captcha {width:180px;position:absolute;top:118px;}
#new-comment .captcha label {font-size:0.8em;text-transform:uppercase;}
#new-comment .captcha strong {display:block;font-weight:bold;color:red;margin:3px 0;}
#new-comment .wrong-captcha {border:1px solid red;}

#promo {float:left;width:250px;margin:20px 0 0 10px;}
#promo h2 {font-family:'Goudy Bookletter 1911';font-weight:normal;text-transform:uppercase;font-size:1.5em;width:240px;margin-bottom:5px;}
#promo ul {overflow:hidden;text-align:right;padding-right:13px;border-radius:5px;padding:10px;}
#promo li a {color:#666;padding:3px;text-decoration:none;font-family:georgia;text-transform:lowercase;font-style:italic;}
#promo #about-me {margin:10px 0;text-transform:uppercase;font-family:arial;font-size:0.8em;padding:10px;}

#social-links {position:fixed;top:150px;left:-23px;background:#cecece;border-radius:5px;padding:3px 3px 0 30px;}
#social-links li
#social-links a {}

#footer {height:200px;}

/* ADMIN SECTION */

.admin-link {color:white;background:#666;padding:10px;border-radius:20px;text-decoration:none;margin:5px;display:block;float:left;}
.new-post {background:#CECECE;color:black;text-transform:uppercase;font-family:arial;text-decoration:none;padding:10px;margin:10px;border-radius:20px;display:block;text-align:center;font-size:2em;}
.auth-link {position:absolute;right:15px;bottom:25px;color:black;text-decoration:none;text-transform:uppercase;font-size:0.7em;font-family:'Goudy Bookletter 1911';}
#login-form label {font-family:georgia;font-size:1.4em;width:150px;text-transform:lowercase;display:block;float:left;font-style:italic;}
#login-form input {display:block;float:left;}
#login-form p {overflow:hidden;}